<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.namhyungu.keymap">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KeyMapApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeyMap.DayNight">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KeyMap.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.addeditkey.AddEditKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.picklocation.PickLocationActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="io.github.namhyungu.keymap.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.namhyungu.keymap.initializer.FirebaseInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="io.github.namhyungu.keymap.initializer.NaverMapInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>